@inherits System.Web.Mvc.WebViewPage
@{
    ViewData["Title"] = "Software Sollutions";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-81">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Games, gamedev, games development software development, software developers, custom software development, oftware development company, software development firm, software development services">
    <title>Contact Us</title>
    <!-- No index start -->
    <link href="~/Content/css/style-fresco.css" rel="stylesheet" />
    <link href="~/Content/css/style-new.css" rel="stylesheet" />
    <link href="~/Content/css/normalize.css" rel="stylesheet" />
</head>
<body class="fontfamily1"><header class="header clearfix container">

    <div class="b-contact">
        <div class="b-logo">
            <a href="/Home/Index"><img src="../../Content/img/logo.png"></a>
        </div>
        <div class="b-contact-phone">416 556 3442</div>
        <div class="b-contact-mail"><a href="mailto:AOPINCHUK@gmail.com?subject=FirmaGamesLTD%20-%20contact" id="mmail">AOPINCHUK@gmail.com</a></div>
    </div>
    <button class="m-menu-btn" data-open-menu=""><span>Menu</span></button>
    <nav class="b-nav">
        <ul class="nav-list">
            <li class="parent">
                <a href="/Home/Services"> Services</a>
            </li>
            <li class="parent ">
                <a href="/Home/Technologies">Technologies</a>
            </li>
            <li class="parent active">
                <a href="/Home/AboutUs"> About Us</a>
            </li>
            <li class="parent" name="Contact Us">
                <a href="/Home/ContactUs"> Contact Us</a>
            </li>
        </ul>
    </nav>
</header>
<div class="b-title clearfix" id="banner" style="background-image: url(&quot;../../Content/img/about-us-new.jpg&quot;);height: 300px ">
    <div class="container">
        <!-- No index end -->  <h1 class="b-title-gery">Company Overview</h1> <!-- No index start --> 	
    </div>
</div>
    <div class="b-breadcrumb clearfix">
        <div class="container">
            <a href="/Home/Index" class="pathway">Home</a> /
            <span>About Us </span>
        </div>
    </div>
    <div class="container clearfix">
        <div class="left-section">
        </div>
        <div class="center-section">
            <h2>About Us</h2>
        <div class="b-grey h-mb30 b-center">
            <p>Firma-Games LTD was founded with the goal of developing and publishing the most innovative and entertaining games on digital distribution platforms.</p>
            <p>Also we providing comprehensive professional services for software development (mobile applications, web-oriented software products and business software solutions), software integration and updating, support and maintenance of developed applications.</p>
        </div>
        <h2 >What games we create:</h2>
        <div class="csRow">
            <div class="csColumn" style="margin: 0px; padding: 0px; float: left; width: 31.2%;">
                <h2 style="text-align: center;"><strong>Types</strong><img class="aligncenter wp-image-796 size-full" src="../../Content/img/gametypes.jpg"  width="200" height="139"></h2>
                <p style="padding-left: 60px; text-align: left;">
                    – Mobile games<br>
                    (Android, iOS,<br>
                    Windows Phone)<br>
                    – PC games
                </p>
            </div>
            <div class="csColumn" style="margin: 0px; padding: 0px; float: left; width: 31.2%;">
                <h2 style="text-align: center;"><strong>Genres</strong><img class="aligncenter wp-image-795 size-full" src="../../Content/img/gamesgenres.jpg" width="200" height="139"></h2>
                <p style="padding-left: 60px; text-align: left;">
                    – Casual games<br>
                    – Real-time Strategy<br>
                    – MMORPG<br>
                    – Board games<br>
                    – Card games
                </p>
                <p>&nbsp;</p>
            </div>
            <div class="csColumn" style="margin: 0px; padding: 0px; float: left; width: 31.2%;" >
                <h2 style="text-align: center;">
                    <strong>Technologies</strong><br>
                    <img class="aligncenter size-full wp-image-854" src="../../Content/img/gamestech.jpg" width="200" height="139">
                </h2>
                <p style="padding-left: 60px; text-align: left;">
                    – Unity 3D<br>
                    – C++<br>
                    – Cocos2d/Cocos2dx<br>
                    – Python<br>
                    – Java<br>
                    – Augmented Reality<br>
                    – Virtual Reality
                </p>
            </div>
        </div>
        <div class="csRow">
            <h2 style="margin-bottom: -40px">What kind of apps we develop:</h2>
            <div class="csColumn" style="margin: 0px; padding: 0px; float: left; width: 250px;" >
                <h3>
                    <strong>Activities</strong>
                </h3>
                <ul>
                    <li style="text-align: left;">Education</li>
                    <li style="text-align: left;">Media &amp; Entertainment</li>
                    <li style="text-align: left;">Sports &amp; Health</li>
                </ul>
            </div>
            <div class="csColumn" style="margin: 0px; padding: 0px; float: left; ; width: 250px;">
                <h3>
                    <strong>Technologies</strong>
                </h3>
                <ul>
                    <li style="text-align: left;">Objective-C</li>
                    <li style="text-align: left;">.Net/C#</li>
                    <li style="text-align: left;">C++/C</li>
                    <li style="text-align: left;">HTML5</li>
                </ul>
            </div>
            <div class="csColumn" style="margin: 0px; padding: 0px; float: left; width: 250px;">
                <h3>
                    <strong>Platforms</strong>
                </h3>
                <ul>
                    <li style="text-align: left;">IOS</li>
                    <li style="text-align: left;">Android</li>
                    <li style="text-align: left;">Windows Phone</li>
                    <li style="text-align: left;">Hybrid</li>
                </ul>
            </div>
            <div class="csColumnGap" style="margin: 0px; padding: 0px; float: left; width: 13.8%;">
                <img style="border: none;" src="http://vironit.com/wp-content/plugins/advanced-wp-columns/assets/js/plugins/views/img/1x1-pixel.png" alt="">
            </div>
            <div style="clear: both; float: none; display: block; visibility: hidden; width: 0px; font-size: 0px; line-height: 0;"></div>
        </div>
        <div id="post-283" class="post-283 page type-page status-publish hentry">
            <h1 class="entry-title" style="border-bottom: 1px solid #DEDEDE; margin-bottom: 30px;">Our team</h1>
            <div class="post-content">
                <div class="home-content-boxes">
                    <p style="text-align: justify;">Our staff members are professionals, combining enthusiasm and experience, energetic, creative and passionate individuals.</p>
                    <p style="text-align: justify;">Our team consists of young professionals ready to overcome difficulties of any level. The success of each of our employees is an integral part of the success of the company as a whole.</p>
                </div>
                <!-- No index start -->
            </div>
        </div>
    </div>
        </div>
</body>
</html>