@inherits System.Web.Mvc.WebViewPage
@{
    ViewData["Title"] = "Software Sollutions";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-81">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Games, gamedev, games development software development, software developers, custom software development, oftware development company, software development firm, software development services">
    <title>Contact Us</title>
    <!-- No index start -->
    <link href="~/Content/css/style-fresco.css" rel="stylesheet"/>
    <link href="~/Content/css/style-new.css" rel="stylesheet"/>
    <link href="~/Content/css/normalize.css" rel="stylesheet"/>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet"/>
</head>
  @inherits System.Web.Mvc.WebViewPage
  @{
  ViewData["Title"] = "Software Sollutions";
  }
  <!DOCTYPE html>
  <html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="content-type" content="text/html; charset=utf-81">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
              <meta name="keywords" content="Games, gamedev, games development software development, software developers, custom software development, oftware development company, software development firm, software development services">
                <title>Careers</title>
                <!-- No index start -->
                <link href="~/Content/css/style-fresco.css" rel="stylesheet" />
                <link href="~/Content/css/style-new.css" rel="stylesheet" />
                <link href="~/Content/css/normalize.css" rel="stylesheet" />
                <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
              </head>
  </html>
<body class="fontfamily1"><header class="header clearfix container">

    <div class="b-contact">
        <div class="b-logo">
            <a href="/Home/Index"><img src="../../Content/img/logo.png"></a>
        </div>
        <div class="b-contact-phone">416 556 3442</div>
        <div class="b-contact-mail"><a href="mailto:AOPINCHUK@gmail.com?subject=FirmaGamesLTD%20-%20contact" id="mmail">AOPINCHUK@gmail.com</a>
        </div>
    </div>
    <button class="m-menu-btn" data-open-menu=""><span>Menu</span></button>
    <nav class="b-nav">
        <ul class="nav-list">
            <li class="parent">
                <a href="/Home/Services"> Services</a>
            </li>
            <li class="parent">
                <a href="/Home/Technologies">Technologies</a>
            </li>
            <li class="parent">
                <a href="/Home/AboutUs"> About Us</a>
            </li>
          <li class="parent active">
            <a href="/Home/Careers"> Careers</a>
          </li>
            <li class="parent" name="Contact Us">
                <a href="/Home/ContactUs"> Contact Us</a>
            </li>
        </ul>
    </nav>
</header>
    <div class="b-title clearfix" id="banner" style="background-image: url(&quot;../../Content/img/technologies.jpg&quot;);height: 300px ">
        <div class="container">
            <!-- No index end -->  <h1 class="b-title-gery">Careers</h1> <!-- No index start -->
        </div>
    </div>
<div class="b-breadcrumb clearfix">
    <div class="container">
        <a href="/Home/Index" class="pathway" >Home</a> /
        <span>Careers </span>
    </div>
</div>
      <div class="container clearfix">

        <div class="center-section">
          <h2>Vacancies</h2>
          <div class="b-grey">
            <p>We are in a constant search for new talented people to join our team. Learn more and apply for our open positions</p>
          </div>
          <div class="col-sm-12 col-md-12">
            <h4>Computer Game Developer</h4>
            <ul>
              <li>
                <span style="font-weight: bold">Salary:</span>
                <span>$35.10 - $52.88 hourly</span>
              </li>
              <li>
                <span style="font-weight: bold">Benefits:</span>
                <span>Bonus, Medical Benefits, Vision Care Benefits, Other Benefits</span>
              </li>
              <li>
                <span style="font-weight: bold">Anticipated Start Date:</span>
                <span style="font-weight: bold">As soon as possible</span>
              </li>
              <li>
                <span style="font-weight: bold">Terms of Employment:</span>
                <span>Permanent   Full-Time</span>
              </li>
            </ul>
          </div>
          <h2 style="margin-top: 40px"  class="col-sm-12 col-md-12 b-grey">Employer Details</h2>
          <div class="col-sm-12 col-md-12 b-grey">
            <p style="font-weight: bolder">
              AOPinchuk IT Inc.
            </p>
            <p>
              Web Site:
              <a style="font-weight: bolder" href="http://pinchinitiative.azurewebsites.net/" >http://pinchinitiative.azurewebsites.net/</a>
            </p>
            <p>
              Business/Mailing Address &amp; Location of Work:
              <span style="font-weight: bolder">Oakville, ON, Canada</span>
            </p>
            <p  style="font-weight: bolder">
              Email Address: <a href="mailto:AOPinchuk@gmail.com" target="_top"> AOPinchuk@gmail.com</a>
            </p>
          </div>
          <h2 style="margin-top: 30px"  class="col-sm-12 col-md-12 b-grey">Job requirements</h2>
          <div class="col-sm-12 col-md-12 b-grey">
            <p>
              AOPinchuk IT INC is looking to hire an experienced Computer Game Engine Developer to join

              dev team that actively work on updating client graphics, which requires permanent and focused

              attention to the quality and performance of release versions. We need a confident specialist,

              experienced in optimizing software products and who is poised to keep on developing as a

              professional to take their expertise to new levels.
            </p>
          </div>

          <div class="col-sm-12 col-md-12">
            <h4>Common Requirements</h4>
            <ul>
              <li>
                <span style="font-weight: bold">Languages:</span>
                <span>English</span>
              </li>
              <li>
                <span style="font-weight: bold">Education:</span>
                <span>Bachelor’s degree of Computer Science or Computer Engineering or equivalent</span>
              </li>
              <li>
                <span style="font-weight: bold">Anticipated Start Date:</span>
                <span style="font-weight: bold">As soon as possible</span>
              </li>
              <li>
                <span style="font-weight: bold">Experience:</span>
                <span>3 years’ experience software developing or more</span>
              </li>
            </ul>
          </div>
          <div class="col-sm-12 col-md-12">
            <h2>Technical Requirements</h2>
            <ul>
              <li>
                <span>
                  High proficiency in both C# and C++/CLI programming С++
                </span>
              </li>
              <li>
                <span >Experience working with scripting languages</span>
              </li>
              <li>
                <span >Experience with WPF and WinForms</span>
              </li>
              <li>
                Experience in game development
              </li>
              <li>
                Good knowledge of algorithms
              </li>
              <li>
                Knowledge of development and support tools (version control systems, JIRA)
              </li>
              <li>
                Knowledge of classic algorithms, data structures and design patterns
              </li>
              <li>
                Understanding of software products and system performance evaluation principles
              </li>
              <li>
                Experience in code profiling and the practical optimization of applications
              </li>
              <li>
                Analytical mindset, attention to detail, troubleshooting skills
              </li>
            </ul>
          </div>
          <div class="col-sm-12 col-md-12">
            <h2>Desirable</h2>

            <ul>
              <li>
                <span>
                  Knowledge in the multithreaded programming field
                </span>
              </li>
              <li>
                <span >Proficiency in Python</span>
              </li>
              <li>
                <span >Experience developing client-server applications</span>
              </li>
              <li>
                Understanding of 3D graphic technology
              </li>
              <li>
                Experience working with GPGPU-based applications
              </li>
              <li>
                Experience working with DirectX 9/11
              </li>
              <li>
                Interest in game development, shipped video games in portfolio
              </li>
              <li>
                Familiarity with profiling systems (Intel VTune, PerfHUD, NVIDIA Nsight)
              </li>
              <li>
                Experience working with Git, SystemJS/RequireJS, Gulp/Grunt
              </li>
              <li>
                Understanding of layout principles, adaptive design, and CSS for animation
              </li>
            </ul>
          </div>
          <div class="col-sm-12 col-md-12">
            <h2>Responsibilities</h2>

            <ul>
              <li>
                <span>
                  Develop game logic components
                </span>
              </li>
              <li>
                <span >Prototype new game mechanics</span>
              </li>
              <li>
                <span >Work on complex algorithms and object physics in a game server team</span>
              </li>
              <li>
                Take part in creating new game modes and logic
              </li>
              <li>
                Collaborate with game designers
              </li>
              <li>
                Put your architectural skills into practice
              </li>
              <li>
                Take on exciting, challenging tasks
              </li>
              <li>
                Create and develop performance analysis and control tools
              </li>
              <li>
                Monitor the system
              </li>
              <li>
                Search for bottlenecks in the game’s graphic client performance when releasing updates
                and new versions
              </li>
              <li>
                Create recommendations to solve system performance problems
              </li>
              <li>
                Optimize the app (including subsystems refactoring)
              </li>
              <li>
                Carry out all other related tasks.
              </li>
            </ul>
          </div>

          <div style="margin-top: 30px" class="col-sm-12 col-md-12 b-grey">
            <h4 style="font-weight: bolder">Work Conditions and Physical Capabilities</h4>
            <p>
              Fast-paced environment; Work under pressure; Repetitive tasks; Attention to detail; Sitting;
              Tight deadlines
            </p>
            <h4 style="font-weight: bolder">Personal Suitability</h4>
            <p>
              Flexibility; Team player; Excellent oral communication; Excellent written communication; Client
              focus; Dependability; Judgement; Reliability; Organized
            </p>
          </div>
          <div class="col-sm-12">
            <h2 style="font-weight: bolder">
              How to Apply:
            </h2>
          </div>
          <div class="col-sm-12 col-md-12 b-grey">
            <p>
              By Email: Please send your resume to <a style="font-weight: bolder" href="mailto:AOPinchuk@gmail.com">AOPinchuk@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
</body>
</html>