@inherits System.Web.Mvc.WebViewPage
@{
    ViewData["Title"] = "Software Sollutions";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-81">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Games, gamedev, games development software development, software developers, custom software development, oftware development company, software development firm, software development services">
    <title>Contact Us</title>
    <!-- No index start -->
    <link href="~/Content/css/style-fresco.css" rel="stylesheet" />
    <link href="~/Content/css/style-new.css" rel="stylesheet" />
    <link href="~/Content/css/normalize.css" rel="stylesheet" />
</head>
<body class="fontfamily1"><header class="header clearfix container">

    <div class="b-contact">
        <div class="b-logo">
            <a href="/Home/Index"><img src="../../Content/img/logo.png"></a>
        </div>
        <div class="b-contact-phone">416 556 3442</div>
        <div class="b-contact-mail"><a href="mailto:AOPINCHUK@gmail.com?subject=FirmaGamesLTD%20-%20contact" id="mmail">AOPINCHUK@gmail.com</a></div>
    </div>
    <button class="m-menu-btn" data-open-menu=""><span>Menu</span></button>
    <nav class="b-nav">
        <ul class="nav-list">
            <li class="parent active">
                <a href="/Home/Services"> Services</a>
            </li>
            <li class="parent">
                <a href="/Home/Technologies">Technologies</a>
            </li>
            <li class="parent">
                <a href="/Home/AboutUs"> About Us</a>
            </li>
            <li class="parent" name="Contact Us">
                <a href="/Home/ContactUs"> Contact Us</a>
            </li>
        </ul>
    </nav>
</header>
<div class="b-title clearfix" id="banner" style="background-image: url(&quot;../../Content/img/banner_contactus.jpg&quot;);height: 300px ">
    <div class="container">
        <div class="container">
            <div class="getfree b-title-getfree"></div>
        </div>
    </div>
</div>
    <div class="b-breadcrumb clearfix">
        <div class="container">
            <a href="/Home/Index" class="pathway">Home</a> /
            <span>Contact Us </span>
        </div>
    </div>
    <div class="container clearfix">
        <div class="left-section">
        </div>
        <div class="center-section">
            <div class="w760max">
                <h2>Firma-Games LTD</h2>
                <p>If you have idea of partnership, share your considerations with us. For your convenience, we have provided for several contact below:</p>
            </div>
            <h2>Contact Us:</h2>
            <div class="bg-grey col2 clearfix w760max b-contact-inf" style="width: 400px">
                <div class="row">
                    <p class="b-contact-inf-title">Canada</p>
                    <p><img src="../../Content/img/cf-6.png"> 416 556 3442</p>
                    <p><img src="../../Content/img/cf-4.png"> <a href="mailto:AOPINCHUK@gmail.com?subject=Firma-Games-LTD%20-%20contact">AOPINCHUK@gmail.com</a></p>
                    <p>Firma-Games LTD
                    </p>
                    <p>1028 Glenbrook ave <br/> Oakville, Ontario, Canada L6H 3Z7 </p>
                </div>
            </div>
            <!-- No index start -->
        </div>
    </div>
</body>
</html>