@inherits System.Web.Mvc.WebViewPage
@{
    ViewData["Title"] = "Software Sollutions";
}


<!-- Header -->
<header id="header">
    <a href="index.html" class="logo">Pinch Initiative</a>
</header>

<!-- Banner -->
<section id="banner">
    <div class="content">
        <h1>CUSTOM DEVELOPMENT IN TORONTO </h1>
        <p>We transform businesses through the art of digitization. <br/>
         Our expertise spans multiple disciplines, providing software solutions that dramatically drive results and outcomes.</p>
        <ul class="actions">
            <li><a href="#five" class="button scrolly">Contact Us</a></li>
        </ul>
    </div>
</section>

<!-- One -->
<section id="one" class="wrapper">
    <div class="inner flex flex-3">
        <div class="flex-item  box">
                <div class="circular circular-game-dev"></div>
                <div class="content text-center">
                    <h3>Games Developmenet</h3>
                    <p>Creation of arcade games for children.</p>
                </div>
        </div>
        <div class="flex-item  box">
            <div class="circular circular-software-dev">
            </div>
            <div class="content text-center">
                <h3>Software Solutions</h3>
                <p>Full-cycle development services for web, mobile and desktop.</p>
            </div>
        </div>
        <div class="flex-item  box">
            <div class="circular circular-qa"></div>
                <div class="content text-center">
                    <h3>Quality Assurance & Software Testing </h3>
                    <p>Functional Testing. Mobile Testing. Stress Testing. Usability Testing</p>
                </div>
                
            </div>
    </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style1 special">
    <div class="inner">
        <h2>Current Job Openings:</h2>
        <div style="text-align: left"></div>
        <h2 style="margin-bottom: 5px">Software Engineer, Games Developer</h2>
        <h3  style="margin-bottom: 2px">Required Qualifications:</h3>
        <ul style="list-style: none;font-weight: bolder">
            <li>-Experience working with Unity3d</li>
            <li>-Demonstrated experience with game AI algorithms</li>
            <li>-Strong knowledge of linear algebra/ 3d math</li>
            <li>-Experience developing 3d games in Unity</li>
            <li>-Strong programming skills in C#</li>
        </ul>
    </div>
</section>

<!-- Three -->
<section id="three" class="wrapper">
    <div class="inner flex flex-3">
        <div class="flex-item box">
            <div class="image fit">
                <img src="images/pic02.jpg" alt="" />
            </div>
            <div class="content">
                <h3>Consequat</h3>
                <p>Placerat ornare. Pellentesque od sed euismod in, pharetra ltricies edarcu cas consequat.</p>
            </div>
        </div>
        <div class="flex-item box">
            <div class="image fit">
                <img src="images/pic03.jpg" alt="" />
            </div>
            <div class="content">
                <h3>Adipiscing</h3>
                <p>Morbi in sem quis dui placerat Pellentesque odio nisi, euismod pharetra lorem ipsum.</p>
            </div>
        </div>
        <div class="flex-item box">
            <div class="image fit">
                <img src="images/pic04.jpg" alt="" />
            </div>
            <div class="content">
                <h3>Malesuada</h3>
                <p>Nam dui mi, tincidunt quis, accu an porttitor, facilisis luctus que metus vulputate sem magna.</p>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<section id="five" class="wrapper">
    <footer id="footer">
        <div class="inner">
            <h2>CONTACT US</h2>
            <ul class="actions">
                <li><span class="icon fa-phone"></span> <a href="#">(000) 000-0000</a></li>
                <li><span class="icon fa-envelope"></span> <a href="#">information@untitled.tld</a></li>
                <li><span class="icon fa-map-marker"></span> 123 Somewhere Road, Nashville, TN 00000</li>
            </ul>
        </div>
        <div class="copyright">
            &copy; Untitled. Design <a href="https://templated.co">TEMPLATED</a>. Images <a href="https://unsplash.com">Unsplash</a>.
        </div>
    </footer>
</section>