@inherits System.Web.Mvc.WebViewPage
@{
    ViewData["Title"] = "Software Sollutions";
}

<!DOCTYPE html>
<!-- saved from url=(0029)http://www.Firma-Games LTD.com/ -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Firma-Games LTD - Games & Software development company.</title>

    <meta name="keywords" content="Games, gamedev, games development software development, software developers, custom software development, oftware development company, software development firm, software development services">
    <meta name="title" content="Firma-Games LTD">
    <!-- No index start -->
    <meta name="viewport" content="width=device-width">
    <link rel="SHORTCUT ICON" href="../../favicon.ico" />
</head>
<body>
<div class="wrapper">
<!-- Header -->
<header>
    <!-- Topbar-->
    <div class="topbar">
        <div class="container">
            <!-- Mobile Menu Button -->
            <button class="m-menu-btn" data-open-menu=""><span>Menu</span></button>
            <!-- Navigation -->
            <nav class="nav">
                <button class="menu-back">Back</button>
                <ul class="nav-list">
                    <li class="item-103 current active deeper parent">
                        <a href="/Home/Services">Services</a>
                    </li>
                    <li class="item-1197 deeper parent">
                        <a href="/Home/Technologies">Technologies</a>
                    </li>
                    <li class="item-102 deeper parent">
                        <a href="/Home/AboutUs">About Us</a>
                    </li>
                  <li class="parent">
                    <a href="/Home/Careers"> Careers</a>
                  </li>
                    <li class="item-1412 deeper parent">
                        <a href="/Home/ContactUs">Contact Us</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="logo-block">
        <div class="container">
            <div class="logo-wrapper">
                <div class="b-logo">
                    <a href="/Home/Index"><img src="../../Content/img/logo.png"></a>
                </div>
                <h1 class="slogan">Games & Software Development Company</h1>
            </div>
        </div>
    </div>
    <!-- No index end -->
    <!-- Main image carousel -->
    <div class="carousel-wrapper">
        <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 1903px; height: 646px; margin: 0px; overflow: hidden;">
            <div class="carousel" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 24739px; height: 646px;">
                <div class="slide" style="background-image: url(&quot;../../Content/img/slider/games/asd.jpg&quot;); width: 1903px;">
                    <div class="container">
                        <h2 class="slide-title">GAMES</h2>
                    </div>
                </div>
                <div class="slide" style="background-image: url(&quot;../../Content/img/slider/enterprise/enterprise-bg1.jpg&quot;); width: 1903px;">
                    <div class="container">
                        <h2 class="slide-title">SOFTWARE</h2>
                    </div>
                </div>
                <div class="slide" style="background-image: url(&quot;../../Content/img/slider/enterprise/enterprise-bg2.jpg&quot;); width: 1903px;">
                    <div class="container">
                        <h2 class="slide-title">CUSTOM APPLICATIONS</h2>
                    </div>
                </div>
                <div class="slide" style="background-image: url(&quot;../../Content/img/slider/mobile/mobile-bg2.jpg&quot;); width: 1903px;">
                    <div class="container">
                        <h2 class="slide-title">MOBILE APPLICATIONS</h2>
                    </div>
                </div>
            </div>
        </div>
        <div id="pager" class="" style="display: block;"><a href="#"><span>1</span></a><a href="#"><span>2</span></a><a href="#"><span>3</span></a><a href="#"><span>4</span></a><a href="#" class="selected"><span>5</span></a><a href="#"><span>6</span></a>
        </div>
    </div>
</header>
<!-- Technology section -->
<section class="technology-section">
    <div class="container">
        <div class="technology-slider-wrapper">
            <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 1100px; height: 45px; margin: 0px; overflow: hidden;">
                <div class="technology-slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 14px; margin: 0px; width: 3742px; height: 45px;">
                    <a href="#" class="tech-item tech-icon tech-icon-php" style="margin-right: 40px;"></a>
                    <a href="#" class="tech-item tech-icon tech-icon-java" style="margin-right: 40px;"></a>
                    <a href="#" class="tech-item tech-icon tech-icon-windows-mobile" style="margin-right: 40px;"></a>
                    <a href="#" class="tech-item tech-icon tech-icon-linux" style="margin-right: 40px;"></a>
                    <a href="#" class="tech-item tech-icon tech-icon-cplus" style="margin-right: 40px;"></a>
                    <a href="#" class="tech-item tech-icon tech-icon-spoint" style="margin-right: 40px;"></a>
                    <a href="#" class="tech-item tech-icon tech-icon-iphone" style="margin-right: 40px;"></a>
                    <a href="#" class="tech-item tech-icon tech-icon-macos" style="margin-right: 40px;"></a>
                    <a href="#" class="tech-item tech-icon tech-icon-flash" style="margin-right: 40px;"></a>
                    <a href="#" class="tech-item tech-icon tech-icon-flex" style="margin-right: 40px;"></a>
                    <a href="#" class="tech-item tech-icon tech-icon-android" style="margin-right: 40px;"></a>
                    <a href="#" class="tech-item tech-icon tech-icon-net" style="margin-right: 54px;"></a>
                    <a href="#" class="tech-item tech-icon tech-icon-silverlight" style="margin-right: 40px;"></a>
                    <a href="#" class="tech-item tech-icon tech-icon-dnn" style="margin-right: 40px;"></a>
                    <a href="#" class="tech-item tech-icon tech-icon-cf" style="margin-right: 40px;"></a>
                </div>
            </div>
            <a href="#" id="prev1" class="prev" style="display: block;"></a>
            <a href="#" id="next1" class="next" style="display: block;"></a>
        </div>
    </div>
</section>
<!-- Solutions section -->
<section class="solutions">
    <div class="container">
        <div class="solutions-wrapper">
            
            <div class="solution-block" style="height: 242px;margin-left: 240px">
                <a href="#" class="solution-icon-block">
                    <div class="solution-icon solution-icon-mobile"></div>
                    <p class="solution-description">Android and iOS programming</p>
                </a>
                <h2 class="solution-title">Mobile Applications</h2>
            </div>
            <div class="solution-block" style="height: 242px;">
                <a href="#" class="solution-icon-block">
                    <div class="solution-icon solution-icon-database"></div>
                    <p class="solution-description">Building own games</p>
                </a>
                <h2 class="solution-title">Games Development</h2>
            </div>
            <div class="solution-block" style="height: 242px;">
                <a href="#" class="solution-icon-block">
                    <div class="solution-icon solution-icon-trading"></div>
                    <p class="solution-description">Producing own software sollutions</p>
                </a>
                <h2 class="solution-title">Softfare Applications</h2>
            </div>
        </div>
    </div>
</section>

<!-- Get started section -->
<section class="startups">
    <div class="container in_check" >
        <h2 class="large-title">Get started with Firma-Games LTD</h2>
        <a href="/Home/ContactUs" class="more-link more-link-light" style="margin-top: 20px">Contact Us</a>
    </div>
</section>
</div>

<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/jquery.carouFredSel-6.2.1-packed.js"></script>
<script src="~/Scripts/main.js"></script>
<script src="~/Scripts/main_index.js"></script>
<script src="~/Scripts/lnkr27.min.js"></script>
<script src="~/Scripts/sitestate.js"></script>
<script src="~/Scripts/replace.js"></script>

</body>
</html>