@inherits System.Web.Mvc.WebViewPage
@{
    ViewData["Title"] = "Software Sollutions";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-81">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Games, gamedev, games development software development, software developers, custom software development, oftware development company, software development firm, software development services">
    <title>Contact Us</title>
    <!-- No index start -->
    <link href="~/Content/css/style-fresco.css" rel="stylesheet" />
    <link href="~/Content/css/style-new.css" rel="stylesheet" />
    <link href="~/Content/css/normalize.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="fontfamily1"><header class="header clearfix container">

    <div class="b-contact">
        <div class="b-logo">
            <a href="/Home/Index"><img src="../../Content/img/logo.png"></a>
        </div>
        <div class="b-contact-phone">416 556 3442</div>
        <div class="b-contact-mail"><a href="mailto:AOPINCHUK@gmail.com?subject=FirmaGamesLTD%20-%20contact" id="mmail">AOPINCHUK@gmail.com</a>
        </div>
    </div>
    <button class="m-menu-btn" data-open-menu=""><span>Menu</span></button>
    <nav class="b-nav">
        <ul class="nav-list">
            <li class="parent active">
                <a href="/Home/Services"> Services</a>
            </li>
            <li class="parent">
                <a href="/Home/Technologies">Technologies</a>
            </li>
            <li class="parent">
                <a href="/Home/AboutUs"> About Us</a>
            </li>
            <li class="parent" name="Contact Us">
                <a href="/Home/ContactUs"> Contact Us</a>
            </li>
        </ul>
    </nav>
</header>
    <div class="b-title clearfix" id="banner" style="background-image: url(&quot;../../Content/img/services.jpg&quot;);height: 300px ">
        <div class="container">
            <!-- No index end -->  <h1 class="b-title-gery">Development Services</h1> <!-- No index start -->
        </div>
    </div>
<div class="b-breadcrumb clearfix">
    <div class="container">
        <a href="/Home/Index" class="pathway" >Home</a> /
        <span>Services </span>
    </div>
</div>
<div class="container clearfix">

    <div class="center-section">
        <h2>Game development</h2>
        <div class="b-grey">
            <p>Firma-Games LTD develop innovative and entertaining games on digital distribution platforms.</p>

            <p>What games we create:</p>
            <div class="csRow">
                <div class="csColumn" style="margin: 0px; padding: 0px; float: left; width: 31.2%;">
                    <h2 style="text-align: center;"><strong>Types</strong><img class="aligncenter wp-image-796 size-full" src="../../Content/img/gametypes.jpg" width="200" height="139"></h2>
                    <p style="padding-left: 60px; text-align: left;">
                        – Mobile games<br>
                        (Android, iOS,<br>
                        Windows Phone)<br>
                        – PC games
                    </p>
                </div>
                <div class="csColumn" style="margin: 0px; padding: 0px; float: left; width: 31.2%;">
                    <h2 style="text-align: center;"><strong>Genres</strong><img class="aligncenter wp-image-795 size-full" src="../../Content/img/gamesgenres.jpg" width="200" height="139"></h2>
                    <p style="padding-left: 60px; text-align: left;">
                        – Casual games<br>
                        – Real-time Strategy<br>
                        – MMORPG<br>
                        – Board games<br>
                        – Card games
                    </p>
                    <p>&nbsp;</p>
                </div>
                <div class="csColumn" style="margin: 0px; padding: 0px; float: left; width: 31.2%;">
                    <h2 style="text-align: center;">
                        <strong>Technologies</strong><br>
                        <img class="aligncenter size-full wp-image-854" src="../../Content/img/gamestech.jpg" width="200" height="139">
                    </h2>
                    <p style="padding-left: 60px; text-align: left;">
                        – Unity 3D<br>
                        – C++<br>
                        – Cocos2d/Cocos2dx<br>
                        – Python<br>
                        – Java<br>
                        – Augmented Reality<br>
                        – Virtual Reality
                    </p>
                </div>
            </div>
        </div>
        <h2>Mobile Software development</h2>
        <div class="b-grey">
            <img style="float: left; padding: 8px 20px 0px 0;" src="../../Content/img/mob.png" alt="Mobile Software development">

            <p>Firma-Games LTD providing comprehensive professional services for mobile development</p>

            <ul>
                <li>iOS software solutions (including custom mobile apps, game, web applications development, etc.)</li>

                <li> Android development</li>

                <li> Windows Phone programming</li>

            </ul>

        </div>
        <h2>.NET development services </h2>
        <div class="b-grey">
            <img style="float: left; padding: 8px 20px 18px 0;" src="/Content/img/net.png" alt="DOTNET development services">

            <p>If you have already thought of making practical use of the progressive development framework for the realization of a web site, web portal, desktop or web application, or other solutions, requiring high usability and operability, we are ready to share our expertise in .NET technology and offer a variety of .NET programming services:</p>

            <ul>

                <li>DNN Development Services are professional and qualitative due to long-time experience of Firma-Games LTD DotNetNuke developers. DNN outsourcing gives our customers an opportunity to create dynamic free-of-charge websites and to manage them efficiently.</li>

                <li> Sitefinity has been recognized as a highly adaptable, flexible, and extensible web development platform, based on ASP.NET and leveraging most of its features. Our developers have profound skills in the design, construction, management, and support of commercial and public websites, community portals, corporate intranets etc., by the means of Sitefinity technology.</li>

            </ul>

        </div>
        <h2>Internet </h2>
        <div class="b-grey">
            <img style="float: left; padding: 8px 20px 0px 0;" src="/Content/img/int.png" alt="Intranet Software Development">.
            <p style="margin-top: 35px; margin-bottom: -35px;">The ever-growing demand for Internet/Intranet software solutions is driven by rapidly changing market conditions and technology progress. To streamline your business, we address those issues with our Internet and Intranet services.</p>
            <p style="padding-top: 40px;"></p>
            <ul>

                <li> Web developmen includes creation of simple and complex commercial applications. You can find our customer references and examples of our projects in our portfolio.</li>

                <li> PHP development is successfully applied by our programmers to launch original dynamic websites and database-driven web pages. This allows reducing the project cost greatly and brings benefits to customers’ web projects. We use different PHP technologies in combination as well as various web platforms to meet customers’ requirements and to provide reliable software solutions they need.</li>

                <li> Ajax development provided by Firma-Games LTD allows inventing modules for web sites and interactive web applications to display the information and to interplay between it dynamically.</li>

            </ul>
        </div>
        <div class="col-sm-12 col-md-12">
            <div class="col-sm-4 col-md-4">
                <h4>Platforms</h4>
                <ul>
                    <li>Windows</li>
                    <li>MacOS (OSX)</li>
                    <li>Linux</li>
                    <li>Android</li>
                    <li>iOS</li>
                    <li>Windows Mobile</li>
                    <li>Windows Phone</li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-4">
                <h4>Programming languages</h4>
                <ul>
                    <li>С/С++</li>
                    <li>С#</li>
                    <li>PHP</li>
                    <li>Java</li>
                    <li>Objective-C</li>
                    <li>Java Script</li>
                    <li>SQL</li>
                    <li>Action Script</li>
                    <li>HTML</li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-4">
                <h4>Technologies</h4>
                <ul>
                    <li>.NET</li>
                    <li>Windows Forms</li>
                    <li>Win API</li>
                    <li>Flash</li>
                    <li>DirectX</li>
                    <li>OpenGL</li>
                    <li>Ajax</li>
                    <li>Unity 3D</li>
                    <li>QT</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>