@inherits System.Web.Mvc.WebViewPage
@{
    ViewData["Title"] = "Software Sollutions";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-81">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Games, gamedev, games development software development, software developers, custom software development, oftware development company, software development firm, software development services">
    <title>Contact Us</title>
    <!-- No index start -->
    <link href="~/Content/css/style-fresco.css" rel="stylesheet" />
    <link href="~/Content/css/style-new.css" rel="stylesheet" />
    <link href="~/Content/css/normalize.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="fontfamily1"><header class="header clearfix container">

    <div class="b-contact">
        <div class="b-logo">
            <a href="/Home/Index"><img src="../../Content/img/logo.png"></a>
        </div>
        <div class="b-contact-phone">416 556 3442</div>
        <div class="b-contact-mail"><a href="mailto:AOPINCHUK@gmail.com?subject=FirmaGamesLTD%20-%20contact" id="mmail">AOPINCHUK@gmail.com</a>
        </div>
    </div>
    <button class="m-menu-btn" data-open-menu=""><span>Menu</span></button>
    <nav class="b-nav">
        <ul class="nav-list">
            <li class="parent">
                <a href="/Home/Services"> Services</a>
            </li>
            <li class="parent active">
                <a href="/Home/Technologies">Technologies</a>
            </li>
            <li class="parent">
                <a href="/Home/AboutUs"> About Us</a>
            </li>
            <li class="parent" name="Contact Us">
                <a href="/Home/ContactUs"> Contact Us</a>
            </li>
        </ul>
    </nav>
</header>
    <div class="b-title clearfix" id="banner" style="background-image: url(&quot;../../Content/img/technologies.jpg&quot;);height: 300px ">
        <div class="container">
            <!-- No index end -->  <h1 class="b-title-gery">Custom Programming Technologies</h1> <!-- No index start -->
        </div>
    </div>
<div class="b-breadcrumb clearfix">
    <div class="container">
        <a href="/Home/Index" class="pathway" >Home</a> /
        <span>Technologies </span>
    </div>
</div>
<div class="container clearfix">

    <div class="center-section">
        <h2>Technologies Overview</h2>
        <div class="b-grey">
            <p>Firma-Games LTD applies a wide range of information technologies for games, mobile, software design and development.</p>
            <p style="text-align:justify">Below is a short list of core technologies in which we have extensive experience.</p>
        </div>
        <div class="col-sm-12 col-md-12">
            <div class="col-sm-4 col-md-4">
                <h4>Platforms</h4>
                <ul>
                    <li>Windows</li>
                    <li>MacOS (OSX)</li>
                    <li>Linux</li>
                    <li>Android</li>
                    <li>iOS</li>
                    <li>Windows Mobile</li>
                    <li>Windows Phone</li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-4">
                <h4>Programming languages</h4>
                <ul>
                    <li>С/С++</li>
                    <li>С#</li>
                    <li>PHP</li>
                    <li>Java</li>
                    <li>Objective-C</li>
                    <li>Java Script</li>
                    <li>SQL</li>
                    <li>Action Script</li>
                    <li>HTML</li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-4">
                <h4>Technologies</h4>
                <ul>
                    <li>.NET</li>
                    <li>Windows Forms</li>
                    <li>Win API</li>
                    <li>Flash</li>
                    <li>DirectX</li>
                    <li>OpenGL</li>
                    <li>Ajax</li>
                    <li>Unity 3D</li>
                    <li>QT</li>
                </ul>
            </div>
        </div>
        <div style="margin-top: 20px;text-align: center">
            <img src="../../Content/img/banner-mobile-software-technologies.png">
            <div class="b-grey" style="margin-top: 20px">
                <p class="f-left h-m10">
                    <img src="../../Content/img/ios.png" class="im-resp">
                </p>
                <p>
                    With their rich capabilities, the innovative iPhone and iPad have become not just popular smart devices, but essentially new effective tools for business. Firma-Games LTD specialists render iOS applications development services and create unique, high-quality software for iPhone, iPad and iPod touch. If you are interested in adapting your custom software applications to the latest version of the operating system, our iOS developers are also ready to help.
                </p>
            </div>
                <h3>Some words about Android programming</h3>
                <div class="b-grey">

                    <p>This operating system for handled devices was released in 2007 by Google and the Open Handset Alliance (including 34 telecom, hardware and software companies). The Android software platform is based on Linux kernel, and supports Java-like languages from Java libraries developed by Google. The Android development platform was designed for modern mobile devices with touchscreen, multimedia video effects support, and a virtual keyboard, such as smartphones and tablets. Firma-Games LTD Company offers offshore Android development services for customer projects with high-end tools and technologies.</p>

                </div>
                <h3>Windows phone programming</h3>
                <div class="b-grey">

                    <p>As soon as the first releases of the new mobile OS by Microsoft were available, we started working on Windows Phone 8 software applications. We apply the original Windows Phone software development kit to implement custom software solutions for the next generation mobile platform.</p>

                </div>
        </div>
    </div>
</div>
</body>
</html>